
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.search-icon{
    width:15px;
    height:15px;
}
.subscribe{
    color:gray;
}
header > u{
    font-size:30px;
    color:rgb(96, 96, 96);
}


main {
    display: grid;
    grid-template-columns:repeat(2,auto);
    grid-template-rows:repeat(4,auto);
}
.card {

}