body{
    margin-top: 5vh;
    display:flex; 
    flex-direction: column;
    justify-content:center;
    /* min-height:100vh; */

}
.blog-container{

    width: 60%;
    margin:0 auto 8rem auto;
    display: flex;
    flex-direction: column;
}


/* blog content */
main {
    min-height:600px;
    overflow: auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:repeat(4,auto);
    gap:20px 15px;
}
.card {
    min-height: 220px;
    padding: 2vh 4vh;
    position: relative;
    /* box-shadow: 0 0 10px rgb(158, 158, 158); */
    border: 6px solid rgb(241, 241, 241);
    border-radius: 5px;
    box-sizing: border-box; /*aviod position of content to change when the border changes*/
    
}
.card:active{
    border: 2px solid rgb(241, 241, 241);
}


h2,p{ 
    margin:5px 0px;
}
p.date{
    color:rgb(154, 154, 154);
}
a.continue{
    position: absolute;
    bottom: 2vh

}
.tag-world,.continue{
    color:rgb(62, 146, 248);
}
.tag-design{
    color:green;
}

/*mobile setting*/
@media (max-width: 700px) {
    body{
        margin:2rem 2rem;
    }
    main{
        grid-template-columns:1fr;
        grid-template-rows:repeat(8,auto);
    }
  }