body{
    margin-top: 5vh;
    display:flex; 
    justify-content:center;
    /* min-height:100vh; */

}
.blog-container{

    width: 1000px;
    display: flex;
    flex-direction: column;
}


/* blog content */
main {
    height:80vh;
    overflow: auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:repeat(4,auto);
    gap:20px 15px;
}
.card {
    height: 22vh;
    padding: 2vh 4vh;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 0 10px rgb(158, 158, 158); */
    border: 6px solid rgb(241, 241, 241);
    border-radius: 5px;
}
.card:active{
    border: 2px solid rgb(241, 241, 241);
}

h2,p{
    margin:5px 0px;
}
p.date{
    color:rgb(154, 154, 154);
}
a.continue{
    position: absolute;
    bottom: 2vh
}
.tag-world,.continue{
    color:rgb(62, 146, 248);
}
.tag-design{
    color:green;
}
/*footer:*/
footer{
    margin-top: 15px;
    padding:3vh;
    background-color: rgb(237, 237, 255);
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-content:center;
    text-align: center;
}
footer span{
    color:rgb(154, 154, 154);
}
footer a{
    color:rgb(62, 146, 248);
}
/*mobile setting*/
@media (max-width: 700px) {
    body{
        margin:2rem 2rem;
    }
    main{
        grid-template-columns:1fr;
        grid-template-rows:repeat(8,auto);
    }
  }